{% extends 'sales/layout.html' %}

{% block title %}
    HELP! 😭
{% endblock %}


{% block body %}
<h1>Help</h1>

	<br>1.	Browse Items
When you open the app, you’ll see a button called category to load all available items by category. 
	<br><br>2.	Use the Menu
Click the menu icon at the top right to open the navigation drawer. Choose “Full Selection” to load all available items.Scroll down to automatically load more results.
	<br><br>3.	Search for Products
Use the search bar to look for specific items. Just type in a product name and press the search button to filter results.
	<br><br>4.	Visit Retailer Sites
Click on any item to be redirected to the product’s search results on major retailers like Walmart, Target, or Kroger.
	<br><br>5.	Mobile Friendly
The app is fully responsive and works well on mobile devices, making it easy to shop on the go

{% endblock %}
